html,body{
    height:100%;
}
body {
    background-image: url("cover.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
/*≥–‘ÿ≤„*/
.wrapper {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -123px;
    margin-left: -175px;
    background: #dde9ef;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0 0 30px grey;
}

.hr10 {
    margin: 10px 0 10px;
}

.hr15 {
    margin: 0 20px 5px 0;
}

.btn-1 {
    margin-top: 20px;
}

.btn-1 button {
    width: 150px;
}